# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# IDE files
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/

# macOS
macos/Pods/

# Generated
coverage/